<div class="container">
  <h3 class=" text-left"></h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h2>Pesalamah !</h2>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list active_chat" *ngFor="let item of usernameList" (click)="getSelectedUserName(item.user)"
            [class.selected]="item.user === selectedUser">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>{{item.user}}<span class="chat_date">Dec 25</span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history" #ScrollMe>
          <div *ngFor="let item of chatList; let last = last">
            <div *ngIf="!CheckUser(item.message) ; else OutGoingMsg">
              <div class="incoming_msg">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{msgSpliter(item.message)}}</p>
                    <span class="time_date">{{item.time}} | {{item.date}}</span>
                    {{scrollToBottom()}}
                  </div>
                </div>
              </div>
            </div>
            <ng-template #OutGoingMsg>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>{{msgSpliter(item.message)}}</p>
                  <span class="time_date">{{item.time}} | {{item.date}}</span>
                  {{scrollToBottom()}}
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <form>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" name="message"
                (keyup.enter)="messageSubmit()" [(ngModel)]="message" autocomplete="off" />
              <button class="msg_send_btn" type="button" (click)="messageSubmit()">
                <i class="fas fa-paper-plane" style="color: #a7c957" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>